altgraph==0.14
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
configobj==5.0.6
cx-Freeze==5.0.2
cycler==0.10.0
decorator==4.1.2
dicom==0.9.9.post1
future==0.16.0
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==4.0.0
macholib==1.8
MarkupSafe==1.0
matplotlib==2.1.0
nbformat==4.4.0
numpy==1.13.3
pandas==0.20.3
pefile==2017.9.3
plotly==2.1.0
PyInstaller==3.3
pyparsing==2.2.0
pypiwin32==219
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
scipy==1.0.0
seaborn==0.8.1
SimpleConfigParser==0.1.0
sip==4.19.3
six==1.11.0
tabulate==0.8.1
traitlets==4.3.2
urllib3==1.22
wxPython==4.0.0b2
xlrd==1.1.0
