<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSD Automated Analysis App</title>
</head>
<body>
<h1>Welcome to the MSD Automated Analysis App</h1>
<hr/>
<h2>To process your files:</h2>
<ol>
    <li>Check the Configuration options, particularly the column names and filenames used for matching</li>
    <li>Select Files to process either with AutoFind from a top level and/or Drag and Drop</li>
    <li>Select which processes to run and monitor their progress</li>
    <li>Run a statistical comparison of two groups after processing files have been generated</li>
</ol>

<hr/>

<small>Any queries, contact <a href="mailto:e.cooperwilliams@uq.edu.au">Liz Cooper-Williams</a>
    <br/>Copyright (2017) Apache license v2 (https://github.com/QBI-Software/MSDAnalysis)
</small>

</body>
</html>