{% extends "msd/index.html" %}
{% block title %}Filter MSD{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #666; }
    </style>
{% endblock %}
{% block content %}
    <h1>Filter MSD</h1>
    <p class="important">
      Filters log10 diffusion coefficient (log10D) for input files
    </p>
<form method="POST" action="/filter" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <div class="alert alert-warning warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    {% if form.errors %}
    <ul class="alert alert-error errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    <table class="table">
        <tr><th>{{ form.datafile.label }}</th><td>  {{ form.datafile() }}</td></tr>
        <tr><th>{{ form.datafile_msd.label }}</th><td>  {{ form.datafile_msd() }}</td></tr>
        <tr><th>{{ form.minlimit.label }}</th><td>  {{ form.minlimit() }}</td></tr>
        <tr><th>{{ form.maxlimit.label }}</th><td>  {{ form.maxlimit() }}</td></tr>
        <tr><th></th><td>  {{ form.submit() }}</td></tr>
    </table>
</form>
{%if result %}
<div id="result">
    <div class="alert alert-success"><h3>Processing finished!</h3>
    <p>Data File output: {{result.fdata}} <span class="badge">Filtered {{result.d2}} of {{result.d1}} rows</span></p>
    <p>MSD File output: {{result.fmsd}} <span class="badge">Filtered {{result.m2}} of {{result.m1}} rows</span></p>
        <p><a class="btn btn-primary" href="{{result.zip}}">Download Zip files</a></p>
    </div>
</div>
{% endif %}
{% endblock %}