<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}MSD Analysis (Meunier Lab){% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    {% block css %} {% endblock %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
<h1>MSD Analysis Scripts</h1>
<h2>Meunier Lab</h2>

        <ul id="navigation" class="nav nav-tabs">
    {% for item in navigation %}
        <li {% if item.href == page %} class="active" {% endif %}><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <div id="content"><div class="well">
        {% block content %}
        <h2>A collection of scripts to analyse the diffusion coefficients for cells</h2>
        <p>These analysis scripts are designed to be run in order where the output of one stage is required for subsequent stages.</p>
        <table class="table table-striped">
            <tbody>
            <tr><th>Step</th><th>Description</th><th>Files</th></tr>
            {% for item in navigation %}
            {% if item.caption != 'Home' %}
            <tr><td><a href="{{item.href}}">{{item.caption}}</a></td><td>{{item.description}}</td><td>{{item.files}}</td></tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endblock %}</div></div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017  <a href="https://qbi-software.github.io/">QBI Software</a>
        {% endblock %}
    </div>
</div>
</body>
</html>